In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#作圖在jupyter notebook
%matplotlib inline
plt.style.use('ggplot')
#plt.rcParams['font.family']='SimHei' #顯示中文
plt.rcParams['axes.unicode_minus']=False #正常顯示負號

pd.set_option("display.max_columns",50) #設定pandas最多顯示出50個欄位資訊

df = pd.read_csv('raw_dataframe.csv', encoding='UTF-8') #台北市
df.rename(columns={'district':'district',
                   'rps01':'subject of transaction',
                   'rps02':'location of land section or building area number',
                   'rps03':'total land transfer area square meters',
                   'rps04':'urban land use zoning',
                   'rps05':'non-urban land Use zoning',
                   'rps06':'non-urban land use planning',
                   'rps07':'transaction year and month',
                   'rps08':'number of transaction pens',
                   'rps09':'transfer level',
                   'rps10':'total floors',
                   'rps11':'building type',
                   'rps12':'main use',
                   'rps13':'main building material',
                   'rps14':'year and month of completion of construction',
                   'rps15':'total area of building transfer square meters',
                   'rps16':'construction status-room',
                   'rps17':'construction status-hall',
                   'rps18':'construction status-bathroom',
                   'rps19':'construction status-compartment',
                   'rps20':'with or without management organization','rps21':'total price',
                   'rps22':'unit price per square meter',
                   'rps23':'parking category',
                   'rps24':'Car displacement to total area square meters',
                   'rps25':'total parking price',
                   'rps26':'remarks',
                   'rps27':'numbers'}, inplace = True)
df.sample(5) #隨機取其中5筆資料

,district,subject of transaction,location of land section or building area number,total land transfer area square meters,urban land use zoning,non-urban land Use zoning,non-urban land use planning,transaction year and month,number of transaction pens,transfer level,total floors,building type,main use,main building material,year and month of completion of construction,total area of building transfer square meters,construction status-room,construction status-hall,construction status-bathroom,construction status-compartment,with or without management organization,total price,unit price per square meter,parking category,Car displacement to total area square meters,total parking price,remarks,numbers
155,中和區,房地(土地+建物),新北市中和區華福街31~60號,15.63,住,NaN,NaN,1080704,土地1建物1車位0,一層，平台，騎樓,四層,公寓(5樓含以下無電梯),住家用,加強磚造,660128.0,71.86,1,1,1,有,無,4600000,64013.0,NaN,0.00,0,親友、員工或其他特殊關係間之交易。;,RPRNMLOKPHOFFHF56CA
656,瑞芳區,房地(土地+建物)+車位,新北市瑞芳區三爪子坑路142巷91~120號,78.54,NaN,鄉村區,乙種建築用地,1080429,土地1建物1車位2,一層，二層，三層,三層,透天厝,見其他登記事項,見其他登記事項,1060210.0,190.57,4,2,3,有,有,9600000,63505.0,坡道平面,64.28,1580000,NaN,RPRNMLTLPHOFFFF96CA
858,鶯歌區,房地(土地+建物)+車位,新北市鶯歌區鶯歌路91~120號,22.74,住,NaN,NaN,1080103,土地1建物1車位1,五層,十四層,住宅大樓(11層含以上有電梯),見其他登記事項,鋼筋混凝土造,1080604.0,147.33,2,2,1,有,有,7460000,58911.0,坡道平面,46.16,1500000,NaN,RPPOMLKLQHOFFIF98CA
685,中和區,車位,新北市中和區景平路號,0.60,住,NaN,NaN,1080619,土地0建物0車位1,地下一層，地下二層，地下三層，地下四層,三十四層,其他,停車空間,鋼骨混凝土造,890529.0,37.94,0,0,0,有,有,2080000,NaN,坡道平面,37.94,2080000,NaN,RPPOMLLJQHOFFHF78CA
3006,新莊區,房地(土地+建物),新北市新莊區民安西路91~120號,20.94,住,NaN,NaN,1080630,土地1建物1車位0,七層,九層,華廈(10層含以下有電梯),住家用,鋼筋混凝土造,871118.0,103.18,3,1,1,有,有,9300000,90134.0,NaN,0.00,0,NaN,RPQNMLNLPHOFFBF48CA

In [2]:
df['district'].unique()

array(['板橋區', '新莊區', '汐止區', '三重區', '永和區', '中和區', '泰山區', '新店區', '蘆洲區',
       '五股區', '鶯歌區', '樹林區', '淡水區', '萬里區', '土城區', '金山區', '三峽區', '林口區',
       '貢寮區', '瑞芳區', '八里區', '深坑區', '雙溪區', '三芝區', '平溪區', '石碇區', '石門區',
       '烏來區'], dtype=object)

In [3]:
df["district"]= df["district"].replace('板橋區', "Banqiao")
df["district"]= df["district"].replace('土城區', "Tucheng")
df["district"]= df["district"].replace('林口區', "Linkou")
df["district"]= df["district"].replace('新莊區', "Xinzhuang")
df["district"]= df["district"].replace('泰山區', "Taishan")
df["district"]= df["district"].replace('五股區', "Wugu")
df["district"]= df["district"].replace('新店區', "Xindian")
df["district"]= df["district"].replace('深坑區', "Shenkeng")
df["district"]= df["district"].replace('汐止區', "Xizhi")
df["district"]= df["district"].replace('淡水區', "Freshwater")
df["district"]= df["district"].replace('八里區', "Bali")
df["district"]= df["district"].replace('三芝區', "Sanzhi")
df["district"]= df["district"].replace('貢寮區', "Gongliao")
df["district"]= df["district"].replace('三重區', "Sanzhong")
df["district"]= df["district"].replace('蘆洲區', "Luzhou")
df["district"]= df["district"].replace('中和區', "Zhonghe")
df["district"]= df["district"].replace('永和區', "Yonghe")
df["district"]= df["district"].replace('三峽區', "Three Gorges")
df["district"]= df["district"].replace('鶯歌區', "Yinge")
df["district"]= df["district"].replace('樹林區', "Tree")
df["district"]= df["district"].replace('平溪區', "Pingxi")
df["district"]= df["district"].replace('瑞芳區', "Ruifang")
df["district"]= df["district"].replace('雙溪區', "Shuangxi")
df["district"]= df["district"].replace('石碇區', "Shiding")
df["district"]= df["district"].replace('萬里區', "Wanli")
df["district"]= df["district"].replace('石門區', "Shimen")
df["district"]= df["district"].replace('金山區', "Jinshan")
df["district"]= df["district"].replace('烏來區', "Wulai")

In [4]:
df['district'].unique()

array(['Banqiao', 'Xinzhuang', 'Xizhi', 'Sanzhong', 'Yonghe', 'Zhonghe',
       'Taishan', 'Xindian', 'Luzhou', 'Wugu', 'Yinge', 'Tree',
       'Freshwater', 'Wanli', 'Tucheng', 'Jinshan', 'Three Gorges',
       'Linkou', 'Gongliao', 'Ruifang', 'Bali', 'Shenkeng', 'Shuangxi',
       'Sanzhi', 'Pingxi', 'Shiding', 'Shimen', 'Wulai'], dtype=object)

In [5]:
df['subject of transaction'].unique()

array(['房地(土地+建物)', '房地(土地+建物)+車位', '車位', '建物', '土地'], dtype=object)

In [6]:
df["subject of transaction"]= df["subject of transaction"].replace('房地(土地+建物)', "House and land (land + building)")
df["subject of transaction"]= df["subject of transaction"].replace('房地(土地+建物)+車位', "House and land (land + building) + parking space")
df["subject of transaction"]= df["subject of transaction"].replace('土地', "Land")
df["subject of transaction"]= df["subject of transaction"].replace('車位', "car parking space")
df["subject of transaction"]= df["subject of transaction"].replace('建物', "building")

In [7]:
df['subject of transaction'].unique()

array(['House and land (land + building)',
       'House and land (land + building) + parking space',
       'car parking space', 'building', 'Land'], dtype=object)

In [8]:
df['location of land section or building area number'].unique()

array(['新北市板橋區中正路275巷62弄1~30號', '新北市板橋區懷德街76巷1~30號',
       '新北市板橋區中山路二段89巷6弄1~30號', ..., '文林段991~1020地號', '博愛段361~390地號',
       '樹新段61~90地號'], dtype=object)

In [9]:
df['urban land use zoning'].unique()

array(['住', '其他', nan, '商', '工', '農'], dtype=object)

In [10]:
df["urban land use zoning"]= df["urban land use zoning"].replace('住', "Living")
df["urban land use zoning"]= df["urban land use zoning"].replace('工', "Factory")
df["urban land use zoning"]= df["urban land use zoning"].replace('商', "Business")
df["urban land use zoning"]= df["urban land use zoning"].replace('農', "Agriculture")
df["urban land use zoning"]= df["urban land use zoning"].replace('其他', "Other")

In [11]:
df['urban land use zoning'].unique()

array(['Living', 'Other', nan, 'Business', 'Factory', 'Agriculture'],
      dtype=object)

In [12]:
df['non-urban land Use zoning'].unique()

array([nan, '山坡地保育區', '鄉村區', '工業區', '一般農業區', '特定農業區', '森林區', '國家公園區'],
      dtype=object)

In [13]:
df["non-urban land Use zoning"]= df["non-urban land Use zoning"].replace('山坡地保育區', "hillside conservation area")
df["non-urban land Use zoning"]= df["non-urban land Use zoning"].replace('鄉村區', "rural area")
df["non-urban land Use zoning"]= df["non-urban land Use zoning"].replace('一般農業區', "general agricultural area")
df["non-urban land Use zoning"]= df["non-urban land Use zoning"].replace('特定農業區', "specific agricultural area")
df["non-urban land Use zoning"]= df["non-urban land Use zoning"].replace('工業區', "industrial area")
df["non-urban land Use zoning"]= df["non-urban land Use zoning"].replace('森林區', "forest area")
df["non-urban land Use zoning"]= df["non-urban land Use zoning"].replace('國家公園區', "national park area")

In [14]:
df['non-urban land Use zoning'].unique()

array([nan, 'hillside conservation area', 'rural area', 'industrial area',
       'general agricultural area', 'specific agricultural area',
       'forest area', 'national park area'], dtype=object)

In [15]:
df['non-urban land use planning'].unique()

array([nan, '丙種建築用地', '乙種建築用地', '丁種建築用地', '甲種建築用地', '林業用地', '農牧用地',
       '交通用地', '水利用地'], dtype=object)

In [16]:
df["non-urban land use planning"]= df["non-urban land use planning"].replace('甲種建築用地', "general agricultural")
df["non-urban land use planning"]= df["non-urban land use planning"].replace('乙種建築用地', "rural")
df["non-urban land use planning"]= df["non-urban land use planning"].replace('丙種建築用地', "hillside conservation")
df["non-urban land use planning"]= df["non-urban land use planning"].replace('丁種建築用地', "specific agricultural")
df["non-urban land use planning"]= df["non-urban land use planning"].replace('農牧用地', "general agricultural")
df["non-urban land use planning"]= df["non-urban land use planning"].replace('林業用地', "forest")
df["non-urban land use planning"]= df["non-urban land use planning"].replace('交通用地', "transformation")
df["non-urban land use planning"]= df["non-urban land use planning"].replace('水利用地', "water")

In [17]:
df['non-urban land use planning'].unique()

array([nan, 'hillside conservation', 'rural', 'specific agricultural',
       'general agricultural', 'forest', 'transformation', 'water'],
      dtype=object)

In [18]:
df['number of transaction pens'].unique()

array(['土地2建物1車位0', '土地3建物1車位0', '土地4建物1車位0', '土地1建物1車位0', '土地4建物1車位1',
       '土地5建物1車位0', '土地2建物2車位0', '土地1建物1車位1', '土地1建物2車位0', '土地10建物1車位1',
       '土地1建物1車位2', '土地6建物1車位0', '土地1建物1車位3', '土地3建物1車位1', '土地7建物1車位0',
       '土地8建物1車位0', '土地1建物1車位5', '土地2建物1車位1', '土地0建物0車位1', '土地1建物2車位1',
       '土地10建物1車位2', '土地4建物2車位0', '土地7建物1車位1', '土地4建物1車位2', '土地9建物1車位0',
       '土地1建物3車位0', '土地6建物1車位2', '土地14建物1車位2', '土地14建物1車位1', '土地5建物1車位1',
       '土地2建物1車位2', '土地2建物2車位1', '土地8建物1車位1', '土地9建物1車位1', '土地0建物1車位1',
       '土地1建物1車位4', '土地11建物1車位1', '土地22建物1車位1', '土地1建物3車位1', '土地3建物2車位0',
       '土地0建物1車位0', '土地1建物2車位2', '土地1建物2車位9', '土地0建物0車位2', '土地1建物1車位6',
       '土地1建物4車位0', '土地3建物1車位5', '土地8建物6車位1', '土地2建物2車位2', '土地3建物1車位2',
       '土地3建物1車位3', '土地5建物1車位3', '土地0建物0車位3', '土地1建物2車位4', '土地1建物0車位0',
       '土地3建物0車位0', '土地2建物0車位0', '土地10建物0車位0', '土地8建物0車位0', '土地27建物0車位0',
       '土地15建物0車位0', '土地5建物0車位0', '土地21建物0車位0', '土地4建物0車位0', '土地6建物0車位0',
       '土地13建物0車位0', '土地9建物0車位0', '土地7建物0車位0', '土地41建物0車位0', '土地30建物0車位0',
       '土地11建物0車位0', '土地37建物0車位0', '土地18建物0車位0'], dtype=object)

In [19]:
df['number of transaction pens']=df['number of transaction pens'].str.replace('土地',"ground")
df['number of transaction pens']=df['number of transaction pens'].str.replace('建物',"xhouse")
df['number of transaction pens']=df['number of transaction pens'].str.replace('x'," ")
df['number of transaction pens']=df['number of transaction pens'].str.replace('車位',"ypark")
df['number of transaction pens']=df['number of transaction pens'].str.replace('y'," ")

In [20]:
df['number of transaction pens'].head()

0    ground2 house1 park0
1    ground3 house1 park0
2    ground2 house1 park0
3    ground4 house1 park0
4    ground1 house1 park0
Name: number of transaction pens, dtype: object

In [21]:
df['transfer level'].unique()

array(['四層，陽台', '一層', '三層', '二層，陽台', '四層', '三層，陽台', '一層，騎樓', '一層，平台',
       '二層', '一層，二層，地下層', '一層，二層，三層，四層', '一層，平台，騎樓', '四層，平台', '一層，二層',
       '三層，四層', '三層，走廊', '三十一層', '九層', '二十九層', '十六層', '二十五層', '三十八層',
       '地下六層', '五層', '地下一層', '六層', '地下層', '一層，二層，三層，四層，五層', '二層，三層',
       '一層，地下層', '五層，陽台', '一層，地下一層', '五層，夾層', '四層，五層', '一層，騎樓，停車場',
       '一層，騎樓，地下層', '四層，五層，夾層', '三層，四層，五層', '一層，二層，地下一層', '夾層，一層，二層',
       '一層，停車場', '五層，見使用執照', '一層，二層，三層', '一層，見其他登記事項', '一層，二層，三層，騎樓',
       '二層，騎樓', '地下一層，地下二層，地下三層，地下四層', '二十二層', '三十五層', '七層', '八層', '十四層',
       '三十二層', '十層', '二十六層', '二十層', '二十七層', '三十層', '三十層，三十一層', '二十八層',
       '二十一層', '十層，夾層', '五層，六層', '八層，夾層', '十三層', '十一層', '十二層', '七層，八層',
       '七層，電梯樓梯間', '地下一層，地下二層', '十五層', '電梯樓梯間，十三層', '地下二層', '十二層，十三層',
       '十三層，見其他登記事項', '十八層',
       '九層，十層，一層，二層，三層，四層，五層，六層，七層，八層，十一層，十二層，十三層，十四層，十五層', '十七層',
       '十五層，一層，三層，二層，四層，六層，八層，十層，十二層，十四層，十三層，十一層，九層，七層，五層', '十七層，十八層',
       '七層，八層，一層，二層，三層，四層，五層，六層，九層，十層，十一層，十二層，十三層，十四層，十五層', '六層，陽台',
       '十一層，十二層', '七層，陽台', '一層，夾層', '十二層，見其他登記事項', '地下二層，地下三層', '十九層',
       '地下四層，地下五層', '一層，二層，陽台，平台，防空避難室', '一層，二層，騎樓', '二層，一層', '二十三層',
       '二十四層', '一層，騎樓，見其他登記事項', '地下四層', '二十二層，二十三層', '二十一層，二十二層', '地下三層',
       '九層，十層', '六層，見其他登記事項', '七層，見其他登記事項', nan], dtype=object)

In [22]:
df.loc[lambda df: df['transfer level']=='全']

Empty DataFrame
Columns: [district, subject of transaction, location of land section or building area number, total land transfer area square meters, urban land use zoning, non-urban land Use zoning, non-urban land use planning, transaction year and month, number of transaction pens, transfer level, total floors, building type, main use, main building material, year and month of completion of construction, total area of building transfer square meters, construction status-room, construction status-hall, construction status-bathroom, construction status-compartment, with or without management organization, total price, unit price per square meter, parking category, Car displacement to total area square meters, total parking price, remarks, numbers]
Index: []

In [23]:
df['transfer level']=df['transfer level'].str.replace('，見其他登記事項'," ")
df['transfer level']=df['transfer level'].str.replace('，陽台'," ")
df['transfer level']=df['transfer level'].str.replace('，電梯樓梯間'," ")
df['transfer level']=df['transfer level'].str.replace('電梯樓梯間'," ")
df['transfer level']=df['transfer level'].str.replace('，平台'," ")
df['transfer level']=df['transfer level'].str.replace('，騎樓'," ")
df['transfer level']=df['transfer level'].str.replace('，夾層'," ")
df['transfer level']=df['transfer level'].str.replace('，停車場'," ")
df['transfer level']=df['transfer level'].str.replace('，防空避難室'," ")
df['transfer level']=df['transfer level'].str.replace('見使用執照'," ")
df['transfer level']=df['transfer level'].str.replace('走廊'," ")
df['transfer level']=df['transfer level'].str.replace('夾層'," ")

In [24]:
df['transfer level']=df['transfer level'].str.replace('，',",")
df['transfer level']=df['transfer level'].str.replace('地下六層',"-6")
df['transfer level']=df['transfer level'].str.replace('地下五層',"-5")
df['transfer level']=df['transfer level'].str.replace('地下四層',"-4")
df['transfer level']=df['transfer level'].str.replace('地下三層',"-3")
df['transfer level']=df['transfer level'].str.replace('地下二層',"-2")
df['transfer level']=df['transfer level'].str.replace('地下一層',"-1")
df['transfer level']=df['transfer level'].str.replace('地下層',"-1")


df['transfer level']=df['transfer level'].str.replace('三十八層',"38")
df['transfer level']=df['transfer level'].str.replace('三十五層',"35")
df['transfer level']=df['transfer level'].str.replace('三十二層',"32")
df['transfer level']=df['transfer level'].str.replace('三十一層',"31")
df['transfer level']=df['transfer level'].str.replace('三十層',"30")
df['transfer level']=df['transfer level'].str.replace('二十一層',"21")
df['transfer level']=df['transfer level'].str.replace('二十二層',"22")
df['transfer level']=df['transfer level'].str.replace('二十三層',"23")
df['transfer level']=df['transfer level'].str.replace('二十四層',"24")
df['transfer level']=df['transfer level'].str.replace('二十五層',"25")
df['transfer level']=df['transfer level'].str.replace('二十六層',"26")
df['transfer level']=df['transfer level'].str.replace('二十七層',"27")
df['transfer level']=df['transfer level'].str.replace('二十八層',"28")
df['transfer level']=df['transfer level'].str.replace('二十九層',"29")
df['transfer level']=df['transfer level'].str.replace('二十層',"20")
df['transfer level']=df['transfer level'].str.replace('十一層',"11")
df['transfer level']=df['transfer level'].str.replace('十二層',"12")
df['transfer level']=df['transfer level'].str.replace('十三層',"13")
df['transfer level']=df['transfer level'].str.replace('十四層',"14")
df['transfer level']=df['transfer level'].str.replace('十五層',"15")
df['transfer level']=df['transfer level'].str.replace('十六層',"16")
df['transfer level']=df['transfer level'].str.replace('十七層',"17")
df['transfer level']=df['transfer level'].str.replace('十八層',"18")
df['transfer level']=df['transfer level'].str.replace('十九層',"19")











df['transfer level']=df['transfer level'].str.replace('一層',"1")
df['transfer level']=df['transfer level'].str.replace('二層',"2")
df['transfer level']=df['transfer level'].str.replace('三層',"3")
df['transfer level']=df['transfer level'].str.replace('四層',"4")
df['transfer level']=df['transfer level'].str.replace('五層',"5")
df['transfer level']=df['transfer level'].str.replace('六層',"6")
df['transfer level']=df['transfer level'].str.replace('七層',"7")
df['transfer level']=df['transfer level'].str.replace('八層',"8")
df['transfer level']=df['transfer level'].str.replace('九層',"9")
df['transfer level']=df['transfer level'].str.replace('十層',"10")

In [25]:
df['transfer level'].unique()

array(['4 ', '1', '3', '2 ', '4', '3 ', '1 ', '2', '1,2,-1', '1,2,3,4',
       '1  ', '1,2', '3,4', '3, ', '31', '9', '29', '16', '25', '38',
       '-6', '5', '-1', '6', '1,2,3,4,5', '2,3', '1,-1', '5 ', '4,5',
       '1 ,-1', '4,5 ', '3,4,5', ' ,1,2', '5, ', '1,2,3', '1,2,3 ',
       '-1,-2,-3,-4', '22', '35', '7', '8', '14', '32', '10', '26', '20',
       '27', '30', '30,31', '28', '21', '10 ', '5,6', '8 ', '13', '11',
       '12', '7,8', '7 ', '-1,-2', '15', ' ,13', '-2', '12,13', '13 ',
       '18', '9,10,1,2,3,4,5,6,7,8,11,12,13,14,15', '17',
       '15,1,3,2,4,6,8,10,12,14,13,11,9,7,5', '17,18',
       '7,8,1,2,3,4,5,6,9,10,11,12,13,14,15', '6 ', '11,12', '12 ',
       '-2,-3', '19', '-4,-5', '1,2   ', '1,2 ', '2,1', '23', '24', '-4',
       '22,23', '21,22', '-3', '9,10', nan], dtype=object)

In [26]:
df['total floors'].unique()

array(['四層', '四十層', '四十三層', '四十一層', '六層', '五層', '三層', '三十四層', '三十六層',
       '三十五層', '三十三層', '三十二層', '三十七層', '三十一層', '十層', '十四層', '十六層', '十五層',
       '十三層', '十八層', '十二層', '十九層', '十七層', '十一層', '八層', '二層', '二十層',
       '二十四層', '二十六層', '二十五層', '二十三層', '二十八層', '二十二層', '二十九層', '二十七層',
       '二十一層', '九層', '七層', '一層', nan], dtype=object)

In [27]:

df['total floors']=df['total floors'].str.replace('四十三層',"43")
df['total floors']=df['total floors'].str.replace('四十一層',"41")
df['total floors']=df['total floors'].str.replace('四十層',"40")



df['total floors']=df['total floors'].str.replace('三十七層',"38")
df['total floors']=df['total floors'].str.replace('三十六層',"35")
df['total floors']=df['total floors'].str.replace('三十五層',"35")
df['total floors']=df['total floors'].str.replace('三十四層',"34")
df['total floors']=df['total floors'].str.replace('三十三層',"33")
df['total floors']=df['total floors'].str.replace('三十二層',"32")
df['total floors']=df['total floors'].str.replace('三十一層',"31")

df['total floors']=df['total floors'].str.replace('二十一層',"21")
df['total floors']=df['total floors'].str.replace('二十二層',"22")
df['total floors']=df['total floors'].str.replace('二十三層',"23")
df['total floors']=df['total floors'].str.replace('二十四層',"24")
df['total floors']=df['total floors'].str.replace('二十五層',"25")
df['total floors']=df['total floors'].str.replace('二十六層',"26")
df['total floors']=df['total floors'].str.replace('二十七層',"27")
df['total floors']=df['total floors'].str.replace('二十八層',"28")
df['total floors']=df['total floors'].str.replace('二十九層',"29")
df['total floors']=df['total floors'].str.replace('二十層',"20")

df['total floors']=df['total floors'].str.replace('十一層',"11")
df['total floors']=df['total floors'].str.replace('十二層',"12")
df['total floors']=df['total floors'].str.replace('十三層',"13")
df['total floors']=df['total floors'].str.replace('十四層',"14")
df['total floors']=df['total floors'].str.replace('十五層',"15")
df['total floors']=df['total floors'].str.replace('十六層',"16")
df['total floors']=df['total floors'].str.replace('十七層',"17")
df['total floors']=df['total floors'].str.replace('十八層',"18")
df['total floors']=df['total floors'].str.replace('十九層',"19")
df['total floors']=df['total floors'].str.replace('十層',"10")

df['total floors']=df['total floors'].str.replace('一層',"1")
df['total floors']=df['total floors'].str.replace('二層',"2")
df['total floors']=df['total floors'].str.replace('三層',"3")
df['total floors']=df['total floors'].str.replace('四層',"4")
df['total floors']=df['total floors'].str.replace('五層',"5")
df['total floors']=df['total floors'].str.replace('六層',"6")
df['total floors']=df['total floors'].str.replace('七層',"7")
df['total floors']=df['total floors'].str.replace('八層',"8")
df['total floors']=df['total floors'].str.replace('九層',"9")

In [28]:
df['total floors'].unique()

array(['4', '40', '43', '41', '6', '5', '3', '34', '35', '33', '32', '38',
       '31', '10', '14', '16', '15', '13', '18', '12', '19', '17', '11',
       '8', '2', '20', '24', '26', '25', '23', '28', '22', '29', '27',
       '21', '9', '7', '1', nan], dtype=object)

In [29]:
df['transfer level'].unique()

array(['4 ', '1', '3', '2 ', '4', '3 ', '1 ', '2', '1,2,-1', '1,2,3,4',
       '1  ', '1,2', '3,4', '3, ', '31', '9', '29', '16', '25', '38',
       '-6', '5', '-1', '6', '1,2,3,4,5', '2,3', '1,-1', '5 ', '4,5',
       '1 ,-1', '4,5 ', '3,4,5', ' ,1,2', '5, ', '1,2,3', '1,2,3 ',
       '-1,-2,-3,-4', '22', '35', '7', '8', '14', '32', '10', '26', '20',
       '27', '30', '30,31', '28', '21', '10 ', '5,6', '8 ', '13', '11',
       '12', '7,8', '7 ', '-1,-2', '15', ' ,13', '-2', '12,13', '13 ',
       '18', '9,10,1,2,3,4,5,6,7,8,11,12,13,14,15', '17',
       '15,1,3,2,4,6,8,10,12,14,13,11,9,7,5', '17,18',
       '7,8,1,2,3,4,5,6,9,10,11,12,13,14,15', '6 ', '11,12', '12 ',
       '-2,-3', '19', '-4,-5', '1,2   ', '1,2 ', '2,1', '23', '24', '-4',
       '22,23', '21,22', '-3', '9,10', nan], dtype=object)

In [30]:
df['building type'].unique()

array(['公寓(5樓含以下無電梯)', '店面(店鋪)', '華廈(10層含以下有電梯)', '透天厝', '套房(1房1廳1衛)',
       '住宅大樓(11層含以上有電梯)', '其他', '廠辦', '工廠', '辦公商業大樓'], dtype=object)

In [31]:
df['building type']=df['building type'].replace('公寓(5樓含以下無電梯)',"apartment")
df['building type']=df['building type'].replace('住宅大樓(11層含以上有電梯)',"residential building")
df['building type']=df['building type'].replace('其他',"other")
df['building type']=df['building type'].replace('套房(1房1廳1衛)',"suite")
df['building type']=df['building type'].replace('廠辦',"office")
df['building type']=df['building type'].replace('華廈(10層含以下有電梯)',"mansion")
df['building type']=df['building type'].replace('店面(店鋪)',"vendor")
df['building type']=df['building type'].replace('透天厝',"house")
df['building type']=df['building type'].replace('辦公商業大樓',"office")
df['building type']=df['building type'].replace('工廠',"factory")

In [32]:
df['building type'].unique()

array(['apartment', 'vendor', 'mansion', 'house', 'suite',
       'residential building', 'other', 'office', 'factory'], dtype=object)

In [33]:
df['construction status-compartment'].unique()

array(['有', '無'], dtype=object)

In [34]:
df['construction status-compartment']=df['construction status-compartment'].replace('有',"Yes")
df['construction status-compartment']=df['construction status-compartment'].replace('無',"No")
df['construction status-compartment'].head()

0    Yes
1     No
2    Yes
3    Yes
4    Yes
Name: construction status-compartment, dtype: object

In [35]:
df['with or without management organization'].unique()

array(['無', '有'], dtype=object)

In [36]:
df['with or without management organization']=df['with or without management organization'].replace('有',"Yes")
df['with or without management organization']=df['with or without management organization'].replace('無',"No")
df['with or without management organization'].head()

0    No
1    No
2    No
3    No
4    No
Name: with or without management organization, dtype: object

In [37]:
df['main use'].unique()

array(['住家用', '商業用', '見其他登記事項', '住商用', '工業用', '見使用執照', '住工用', nan, '停車空間',
       '工商用'], dtype=object)

In [38]:
df['main use']=df['main use'].replace('住家用',"living")
df['main use']=df['main use'].replace('見其他登記事項',"other")
df['main use']=df['main use'].replace('工業用',"factory")
df['main use']=df['main use'].replace('商業用',"business")
df['main use']=df['main use'].replace('停車空間',"parking")
df['main use']=df['main use'].replace('住商用',"business")
df['main use']=df['main use'].replace('住工用',"factory")
df['main use']=df['main use'].replace('工商用',"business")
df['main use']=df['main use'].replace('住工用',"factory")
df['main use']=df['main use'].replace('見使用執照',"other")

In [39]:
df['main use'].unique()

array(['living', 'business', 'other', 'factory', nan, 'parking'],
      dtype=object)

In [40]:
df['main building material'].unique()

array(['鋼筋混凝土造', '見其他登記事項', '加強磚造', '鋼筋混凝土加強磚造', '鋼骨鋼筋混凝土造', '磚造',
       '鋼骨混凝土造', '鋼造', nan], dtype=object)

In [41]:
df['main building material']=df['main building material'].replace('鋼筋混凝土造',"reinforced concrete construction")
df['main building material']=df['main building material'].replace('鋼骨鋼筋混凝土造',"steel reinforced concrete construction")
df['main building material']=df['main building material'].replace('加強磚造',"strengthen brickwork")
df['main building material']=df['main building material'].replace('鋼骨混凝土造',"steel reinforced concrete")
df['main building material']=df['main building material'].replace('鋼造',"steel")
df['main building material']=df['main building material'].replace('磚造',"brick building")
df['main building material']=df['main building material'].replace('鋼筋混凝土加強磚造',"reinforced concrete reinforced brickwork")
df['main building material']=df['main building material'].replace('見其他登記事項',"other")

In [42]:
df['main building material'].unique()

array(['reinforced concrete construction', 'other',
       'strengthen brickwork', 'reinforced concrete reinforced brickwork',
       'steel reinforced concrete construction', 'brick building',
       'steel reinforced concrete', 'steel', nan], dtype=object)

In [43]:
df['parking category'].unique()

array([nan, '坡道平面', '其他', '坡道機械', '升降平面', '一樓平面', '升降機械', '塔式車位'],
      dtype=object)

In [44]:
df['parking category']=df['parking category'].replace('坡道平面',"parking area")
df['parking category']=df['parking category'].replace('一樓平面',"garage")
df['parking category']=df['parking category'].replace('坡道機械',"mechanical and stereoscopic garage")
df['parking category']=df['parking category'].replace('升降機械',"mechanical and stereoscopic garage")
df['parking category']=df['parking category'].replace('升降平面',"mechanical and stereoscopic garage")
df['parking category']=df['parking category'].replace('塔式車位',"Vertical lifting mechanical parking system")
df['parking category']=df['parking category'].replace('其他',"other")

In [45]:
df['parking category'].unique()

array([nan, 'parking area', 'other', 'mechanical and stereoscopic garage',
       'garage', 'Vertical lifting mechanical parking system'],
      dtype=object)

In [46]:
df=df.drop(['location of land section or building area number', 'remarks'], axis=1)

In [47]:
df.head()

,district,subject of transaction,total land transfer area square meters,urban land use zoning,non-urban land Use zoning,non-urban land use planning,transaction year and month,number of transaction pens,transfer level,total floors,building type,main use,main building material,year and month of completion of construction,total area of building transfer square meters,construction status-room,construction status-hall,construction status-bathroom,construction status-compartment,with or without management organization,total price,unit price per square meter,parking category,Car displacement to total area square meters,total parking price,numbers
0,Banqiao,House and land (land + building),13.88,Living,NaN,NaN,1080424,ground2 house1 park0,4,4,apartment,living,reinforced concrete construction,690731.0,42.08,3,2,1,Yes,No,2500000,59411.0,NaN,0.0,0,RPXSMLOLPHOFFAF07CA
1,Banqiao,House and land (land + building),31.75,Living,NaN,NaN,1080522,ground3 house1 park0,1,4,apartment,living,reinforced concrete construction,640610.0,91.14,0,0,0,No,No,16800000,184332.0,NaN,0.0,0,RPUOMLQLPHOFFAF56CA
2,Banqiao,House and land (land + building),26.00,Living,NaN,NaN,1080528,ground2 house1 park0,3,4,apartment,living,reinforced concrete construction,660615.0,63.54,3,2,1,Yes,No,7000000,110167.0,NaN,0.0,0,RPORMLLJQHOFFAF28CA
3,Xinzhuang,House and land (land + building),41.66,Living,NaN,NaN,1080418,ground4 house1 park0,2,4,apartment,living,reinforced concrete construction,670518.0,92.29,3,2,1,Yes,No,6250000,67721.0,NaN,0.0,0,RPXRMLNLPHOFFBF96CA
4,Xinzhuang,House and land (land + building),19.90,Living,NaN,NaN,1080625,ground1 house1 park0,3,4,apartment,living,reinforced concrete construction,631018.0,60.56,2,1,1,Yes,No,6000000,99075.0,NaN,0.0,0,RPRSMLNKQHOFFBF09CA

In [48]:
compression_opts = dict(method='zip',archive_name='new_dataframe.csv')  
df.to_csv('price.zip', index=False,compression=compression_opts)